/** Variables and Such */
:root {
	--logo-color: greenyellow;
	--nav-link-color: orange;
	--main-background-color: #191919;
}

/** Basic Body Stuff  */
body {
	margin: 0 auto;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: white;
	background: var(--main-background-color);
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	color: var(--nav-link-color);
}

a.active {
	color: var(--nav-link-color);
	text-decoration: underline;
}

/** Card */
.card{
	background-color: hsla(0, 0%, 0%, 0.1);
	border: 5px solid hsla(0, 0%, 100%, 0.1);
	border-radius: 10px;
	box-shadow: 4px 3px 3px hsla(0, 0%, 100%, 0.1);
	padding:  20px;
	text-align: center;
	max-width: 400px;
	display: block;
	margin: 25px auto;
}
.card img {
	width: 300px;
	height: auto;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.card h1 {
	color: greenyellow;
}

.card a {
	text-decoration: underline;
	color: greenyellow;
}

/** Top Navigation Bar  */
.nav {
	text-align: center;
	overflow: hidden;
	padding: 1%;
	padding-top: 2rem;
}

.nav a {
	padding: 14px 13px;
	font-size: 17px;
}

.nav a.logo {
	font-weight: bold;
	text-decoration: none;
	color: var(--logo-color);
}

/** Footer  */
.footer {
	
	text-align: center;
	color: white;
	padding: 2rem;
}

/** Centers iframe and sizes the pdf viewer */
iframe.pdf {
	display: block;
	margin: auto auto;
	height: calc(100vh);
	width: calc(100vh);
}

/** FAQ */

.faq {
	display: block;
	margin: auto auto;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
	max-width: 400px;
}

.faq p {
	display: block;
	margin: auto auto;
	text-align: center;
	
}

/** Links */