/** Basic Body Stuff  */
body {
	margin: 0 auto;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	color: white;
	background: #23262e;
}

/** Top Navigation Bar  */
.nav {
	overflow: hidden;
	padding: 1%;
	padding-top: 2rem;
}

.nav a {
	color: white;
	padding: 14px 13px;
	font-size: 17px;
	text-decoration: none;
}

.nav a.logo {
	font-weight: bold;
	text-decoration: none;
}

/** Footer  */
.footer {
	text-align: center;
	color: white;
	padding: 10px;
}

.footer a {
	color: white;
	text-decoration: none;
}

/** Formating photos for doom scroll  */
.photos {
	text-align: center;
	margin: 0 auto;
}

.photos img {
	display: block;
	margin: auto auto;
	width: 400px;
	height: auto;
	padding-top: 1rem;
}

.photos ul {
	list-style: none;
}

.photos p {
	display: block;
	margin: auto auto;
	text-align: justify;
	max-width: 400px;
}


/** Centers iframe and sizes the pdf viewer */
.iframe {
	margin: 0 auto;
	display: block;
	height: calc(100vh - 23px);
	width: calc(100vh);
}

/** Helpers */

.text-center {
	text-align: center;
}