@import "tailwindcss";

:root {
	--bg-dark: hsl(216, 18%, 17%);
	--bg: hsl(216, 18%, 23%);
	--bg-light: hsl(216, 18%, 28%);
	--text: hsl(0, 0%, 95%);
	--text-muted: hsl(0, 0%, 70%);
	--highlight: hsl(212, 47%, 47%);
}

/* https://colorhunt.co/palette/f9f7f7dbe2ef3f72af112d4e */
[data-theme="light"] {
	--bg-dark: hsl(0, 14%, 97%);
	--bg: hsl(219, 38.5%, 90%);
	--bg-light: hsl(219, 38.5, 83%);
	--text: hsl(212, 64%, 29%);
	--text-muted: hsl(212, 64%, 9%);
	--highlight: hsl(212, 90%, 70%);
}

body {
	background: var(--bg-dark);
	color: var(--text);
	transition: background-color 0.5s, color 0.5s;
}

/* 
* yeah used ai for this scroll bar stuff
* only used in app/layout.tsx
*/
@layer utilities {

	/* hide webkit scrollbars */
	.no-scrollbar::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none;
	}

	/* firefox / IE */
	.no-scrollbar {
		-ms-overflow-style: none;
		/* IE and Edge */
		scrollbar-width: none;
		/* Firefox */
	}

	/* also cover html/body if the browser makes them the scrolling element */
	html.no-scrollbar,
	body.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	html.no-scrollbar::-webkit-scrollbar,
	body.no-scrollbar::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none;
	}
}
